.login {
    width: 100vw;
    height: 100vh;
    background: #ececec;
}

.login-card {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 20px;
    transform: translate(-50%, -50%);
}

.login-input-img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px;
}

.login-input-row {
    margin: 20px 0;
}
